<div class="container">
<!--...........load static file..............-->
 {% load static %}
<!--...........................................-->
<link rel="stylesheet" type="text/css" href="{% static 'css/homestyle.css' %}">
<!-- .........start navbar...........-->
       <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Fixed navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
<!--...................navbar item home ........................-->
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">خانه <span class="sr-only">(current)</span></a>
          </li>
<!--....... time tag............-->
    <li class="nav-item">
      <a class="nav-link">{{ time_now | date:'Y-m-d H:i' }} :تاریخ </a>
    </li>
<!--............. contact item..........-->
          <li class="nav-item">
            <a class="nav-link disabled" href="{% url 'accounts:contact' %}">تماس ما </a>
          </li>

<!--.............user tag............-->

    <li class="nav-item">
      <a class="nav-link">{{request.user }}</a>
    </li>

<!--.............. drop down  product.................-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">محصولات</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'products:productlist' %}">لیست محصولات</a>
              <a class="dropdown-item" href="{% url 'products:categorylistview' %}">دسته بندی محصولات </a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>

<!--.............. drop down blog..................-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">بلاگ</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'blog:postlist' %}">لیست</a>
              <a class="dropdown-item" href="{% url 'blog:post-create' %}">انتشار پست</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>

              {% if request.user.is_authenticated %}

<!--................. drop Down .login ...................-->

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">{{ request.user }}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'home' %}">خانه</a>
              <a class="dropdown-item" href="#">Edit Profile</a>
              <a class="dropdown-item" href="{% url 'accounts:change_password' %}">Change Password</a>
            </div>

<!--............item login..................-->
          <li class="nav-item">
            <a class="nav-link " href="{% url 'accounts:logout' %}">log out </a>
          </li>

                {% else %}
<!--......... Drop down guest.................-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">مهمان</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'accounts:register_user' %}">ثبت نام</a>
              <a class="dropdown-item" href="#">Rest password</a>
              <a class="dropdown-item" href="{% url 'accounts:login' %}">ورود</a>
            </div>
            </li>
                {% endif %}


 <!--..................search tag.............-->
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

<!--.....................jumbotron..................-->
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Mohammad Shir Mohammadi!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout
            called a jumbotron and three supporting pieces of content. Use it as a starting point to create something
            more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

<!--.........close container............-->
</div>
































